# PostgreSQL Configuration for Task Service
POSTGRES_TASK_USER=task_user
POSTGRES_TASK_PW=task_password
POSTGRES_TASK_DB=task_db

# PostgreSQL Configuration for Billing Service
POSTGRES_BILLING_USER=billing_user
POSTGRES_BILLING_PW=billing_password
POSTGRES_BILLING_DB=billing_db

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin123
